
.collection-nav{
  display:table;
  // position:fixed;

}


.example-cards > div {
    width:33%;
    min-width:200px;
    float:left;
    text-align:center;
    margin-bottom:3%;
}


.example-cards > div > a {
    display:block;
    margin:0 auto;
    width:90%;
    padding-top:25%;
    padding-bottom:25%;
    border:1px solid;
    border-radius:3px;
    background:#0099d4;
    color:white;
}

.example-cards > div > a:hover{
    text-decoration:none;
    background-color:#0177c1;
}
